.App {
  background: linear-gradient(to left, #DC3131, #FF4F4F);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box;
  font-family: 'Lab Grotesque', sans-serif;
}

.center-button {
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
  border-radius:6px;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  font-family: 'Lab Grotesque', sans-serif;
}

.center-button:hover {
  background-color: white;
  color: black;
}

.center-button:disabled{
  background-color: #BEC5CC;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: left; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Lab Grotesque', sans-serif;
  overflow-wrap: break-word;
}

.modal-header {
  display: flex;
  margin-bottom: 15px;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-header h2 {
  margin: 0;
  font-family: 'Lab Grotesque', sans-serif;
}

.modal p {
  color: #808080;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: red;
  font-family: 'Lab Grotesque', sans-serif; 
  padding-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-group label {
  display: block;
  font-weight: bold;
  font-family: 'Lab Grotesque', sans-serif;
}

.amount-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Lab Grotesque', sans-serif;
}

.calculate-button {
  background: none; 
  border: none; 
  color: #EA0029; 
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: left; 
  font-family: 'Lab Grotesque', sans-serif; 
  padding-bottom: 30px;
  padding-top: 10px;
}

.calculate-button:hover {
  color: #F53A31;
}

.term-buttons {
  display: flex;
  gap: 10px; 
  margin-top: 10px;
}

.term-buttons button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%; 
  color: #333;
  cursor: pointer;
  font-size: 14px;
  width: 40px;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; 
  font-family: 'Lab Grotesque', sans-serif; 
}

.term-buttons button.active {
  background-color: #FF5E56;
  color: white;
  border-color: #FF5E56;
}

.term-buttons button:hover {
background-color: #DFE3E6;
}

.term-buttons button:disabled{
  background-color: #BEC5CC;
}

.payment-options button:hover {
background-color: #DFE3E6;
}

.payment-options button:disabled{
  background-color: #BEC5CC;
}

.result {
  margin-top: 20px;
  text-align: left; 
}

.result h3 {
  font-family: 'Lab Grotesque', sans-serif;
}

.payment-options {
  display: flex;
  gap: 10px; 
  margin-top: 10px;
  padding-bottom: 25px;
}

.payment-options button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 65px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Lab Grotesque', sans-serif; 
  font-weight: 400;
}

.payment-options button.active {
  background-color: #FF5E56;
  color: white;
  border-color: #FF5E56;
}

.payment-amount {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
  font-family: 'Lab Grotesque', sans-serif;
  margin-bottom: 15px;
  padding-right: 30px;
}

.amount-input::after {
  content: '₽';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #333;
}

.add-button {
  padding: 15px 20px;
  background: linear-gradient(to left, #DC3131, #FF4F4F);
  border: none;
  border-radius: 5px;
  color: white; 
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.7s, color 0.7s; 
  font-family: 'Lab Grotesque', sans-serif; 
  box-shadow: 0px 0px 33px #EA002954;
}

.add-button:hover {
  background: #EA0029;
}

.add-button:disabled {
  background-color: #BEC5CC;
}

.input-loan {
  position: relative;
}

.input-loan label{
  margin-bottom: 15px;
  display: flex;
  margin-top: 15px;
}

.input-group:disabled{
  background-color: #BEC5CC;
}

.error-message {
  color: red; 
  font-size: 12px; 
  margin-top: 5px; 
  font-family: 'Lab Grotesque', sans-serif; 
}