.body{
  font-family: 'LabGrotesque';
  margin: 0 !important;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('./fonts/LabGrotesque-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('./font/LabGrotesque-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('./fonts/LabGrotesque-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}